@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand {
  font-family: "Quicksand", serif;
}
.orange {
  color: orange;
}
#sky-blue {
  color: skyblue;
}
.see {
  color: #05d4df;
}
.sky {
  color: #5d58ef;
}
.none {
  display: none;
}
