@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}
.orange {
  color: orange;
}
.sky-blue {
  color: skyblue;
}
.see {
  color: #05d4df;
}
.sky {
  color: #5d58ef;
}
.none {
  display: none;
}
.header {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  gap: 30px;
}
.menu ul a {
  font-size: 1.3rem;
  font-weight: 500;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo > p {
  font-size: 2rem;
  font-weight: bold;
}
.contact {
  margin-left: 200px;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}
@media screen and (max-width: 570px) {
  .menu {
    display: none;
  }
  .logo p {
    display: none;
  }
  .none {
    display: block;
  }
  .none i {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .header > span {
    color: orange;
  }
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.banner_text h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.banner_text p {
  font-size: 1.3rem;
}
.banner_text .Banner_btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 3rem;
  font-size: 1.3rem;
}
@media screen and (max-width: 570px) {
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .banner_text h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
  .banner_img img {
    width: 100%;
  }
  .banner_text p {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
  }
  .banner_text .Banner_btn {
    margin-left: 30%;
  }
}
/*   Standard_Curriculum */
.Standard_Curriculum {
  margin-top: 5rem;
  background-image: url(assets/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}
.Standard_Curriculum h1 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: 800;
}
.Curriculum_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.curriculum_card {
  border-radius: 10px;
  width: 400px;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #87ceeb, #ffffff);
}
.curriculum_card h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.ReadMOre1 {
  color: #01a4e4;
  font-size: 1.2rem;
}
.card2 {
  background: linear-gradient(to bottom, #90ee90, #ffffff);
}
.card3 {
  background: linear-gradient(to bottom, #ffc0cb, #ffffff);
}
.ReadMOre3 {
  font-size: 1.2rem;
  color: #053649;
}
.ReadMOre2 {
  font-size: 1.2rem;
  color: #011a01;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 15vh;
}

.circle-button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

@media screen and (max-width: 570px) {
  .curriculum_cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* our_stories */
.our_stories {
  height: 90vh;
  position: relative;
  background: url("assets/bg.png") center top / cover no-repeat;
  /* Sets the image as the background */
}

.our_stories::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(250, 228, 185) 40%,
    rgba(255, 255, 255, 1)
  );
  z-index: -1;
  pointer-events: none;
}
.our_stories > h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.our_stories img {
  border-radius: 10px;
}
.cards-conteiner {
  padding-top: 5rem;
  display: flex;
  gap: 7rem;
  justify-content: center;
}
.our_img {
  padding-bottom: 3rem;
  background-color: white;
  border-radius: 14px;
}
.Our-school-img_text {
  padding: 20px;
  font-size: 2rem;
}

.Our-school-img_text_p {
  padding: 20px;
  font-size: 0.96rem;
}

.our-img-conteiner {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.our_story_img {
  padding-bottom: 2rem;
  background-color: white;
  border-radius: 14px;
}
.our-img-conteiner h3 {
  font-size: 1rem;
  padding: 20px;
  font-weight: 600;
}

.our_story_img > a {
  position: absolute;
  border: 1px solid seagreen;
  background-color: seagreen;
  color: white;
  border-radius: 20px;
  padding: 10px;
  top: 33%;
}
.our_img a {
  position: relative;
  padding: 10px;
  color: white;
  background-color: orange;
  border-radius: 20px;
  top: -40%;
  left: 0;
  border: 1px solid orange;
}
@media screen and (max-width: 570px) {
  .our_stories {
    height: auto;
  }
  .our_img {
    display: none;
  }
  .our-img-conteiner {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-img-conteiner a {
    top: 21%;
  }
}
